<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSS_Ticker_Release.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
    <userSettings>
        <RSS_Ticker_Release.Properties.Settings>
            <setting name="tickerFont" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="dockEdge" serializeAs="String">
                <value>Bottom</value>
            </setting>
            <setting name="refreshTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="tickerSpeed" serializeAs="String">
                <value>100%</value>
            </setting>
        </RSS_Ticker_Release.Properties.Settings>
    </userSettings>
</configuration>